ul, li, h1, h2, h3, h4, p, img {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo, .logo__studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: none;
  display: inline-block;
  margin-right: 92px;
  text-decoration: none;
}

.logo {
  color: #000000;
}

.logo__studio {
  color: #FFFFFF;
}

.logo__web {
  color: #2196F3;
}

header {
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: auto;
      align-self: auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.navigation__list {
  display: inline-block;
}

.navigation__list > li {
  display: inline-block;
}

.navigation__list > li:not(:last-child) {
  margin-right: 50px;
}

.navigation__link--inactive, .navigation__link--active {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-transform: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link--inactive {
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--inactive:hover, .navigation__link--inactive:focus {
  color: #2196F3;
}

.navigation__link--active {
  color: #2196F3;
}

.navigation__link--active::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  margin-bottom: -1px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts li:last-child {
  margin-left: 30px;
}

.contacts__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon {
  fill: #2196F3;
}

.contacts__link:focus .contacts__icon {
  fill: #2196F3;
}

.contacts__icon--mailing {
  width: 16px;
  height: 12px;
}

.contacts__icon--calling {
  width: 10px;
  height: 16px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #757575;
  text-transform: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

footer {
  background: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-details {
  padding-top: 20px;
}

.contact-details li:nth-child(n+2) {
  padding-top: 9px;
}

.contact-details__communication {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-details__communication:hover, .contact-details__communication:focus {
  color: #2196F3;
}

.contact-details__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-details__address:hover, .contact-details__address:focus {
  color: #2196F3;
}

.footer-networks__container {
  display: inline-block;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-networks__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-network__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-network__list li {
  margin: 0px;
  padding: 0;
  height: 20px;
}

.footer-network__list li:not(:last-child) {
  margin-right: 10px;
}

.footer-network__icon {
  width: 20px;
  height: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network__link:hover, .footer-network__link:focus {
  background-color: #2196F3;
  cursor: pointer;
}

.footer-form {
  display: inline-block;
  width: 570px;
  margin-top: 12px;
  margin-left: auto;
}

.footer-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form__submit-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: none;
  cursor: pointer;
  border: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__submit-button:hover, .footer-form__submit-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__submit-button::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

#footer-form__mail {
  display: inline-block;
  width: 358px;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-form__mail:hover {
  border-color: #2196F3;
}

.footer-form__input-focus:focus-within #footer-form__mail {
  border-color: #2196F3;
}

.hero-section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
  background-color: #2F303A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-top: 195px;
  padding-bottom: 205px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero-section__button {
  display: block;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: none;
  cursor: pointer;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 950ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale 1;
          transform: translate(-50%, -50%) scale 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__background {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
}

.modal__close--touching {
  display: block;
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close--touching:hover, .modal__close--touching:focus {
  fill: #2196F3;
}

.modal__close:hover .modal__close--touching {
  fill: #2196F3;
}

.modal__close:focus .modal__close--touching {
  fill: #2196F3;
}

.form {
  display: inline-block;
  width: 448px;
  margin-left: 39px;
  margin-right: 41px;
  margin-top: 41px;
}

.form__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
  margin-bottom: 12px;
}

.form__field-list {
  list-style: none;
}

.form__field-list li:nth-last-child(1) {
  margin-bottom: 20px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757575;
  text-transform: none;
  margin-bottom: 4px;
}

.form__field input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #212121;
  text-transform: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  border-radius: 4px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 42px;
  padding-right: 0px;
  margin: 0;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field input:hover, .form__field input:focus {
  border-color: #2196F3;
}

.form__field-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__field-icon {
  position: absolute;
  fill: #212121;
  width: 18px;
  height: 18px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-container:hover .form__field-icon {
  fill: #2196F3;
}

.form__field-container:focus-within .form__field-icon {
  fill: #2196F3;
}

.form__textarea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #212121;
  text-transform: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
}

.form__textarea:hover, .form__textarea:focus {
  border-color: #2196F3;
}

.form__submit-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background-color: #2196F3;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__submit-button:hover, .form__submit-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.field__gtc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-left: 13px;
}

.field__gtc--following {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-transform: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#field__gtc--checking {
  display: inline-block;
  width: 16px;
  height: 15px;
  z-index: 1;
  margin-right: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.field__gtc--positioning {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

#field__gtc--checking:checked + .field__gtc--positioning {
  border: none;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.qualities {
  padding-top: 97px;
  padding-bottom: 91px;
}

.qualities h2 {
  display: none;
}

.qualities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qualities__list li {
  width: 270px;
}

.qualities__list svg {
  width: 70px;
  height: 70px;
}

.qualities__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.qualities__list li:hover .qualities__card {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.qualities__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.qualities__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.activities__section {
  padding-top: 0;
  padding-bottom: 94px;
}

.activities__description {
  position: relative;
  display: block;
}

.activities__heading {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__image {
  display: block;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.team__background {
  background-color: #F5F4FA;
}

.team__member-card {
  width: 270px;
  background-color: #FFFFFF;
  margin-right: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team__member-card:nth-child(4n) {
  margin-right: 0;
}

.team__card-content {
  padding-top: 30px;
}

.team__member-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
  padding-bottom: 10px;
}

.team__member-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

.team__communications {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team__communications li {
  margin: 0px;
  padding: 0;
  height: 20px;
}

.team__communications li:not(:last-child) {
  margin-right: 10px;
}

.team__communications--referencing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background-color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__communications--referencing:hover, .team__communications--referencing:focus {
  background-color: #2196F3;
  cursor: pointer;
}

.network-icon {
  width: 20px;
  height: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__communications--referencing:hover .network-icon {
  fill: #FFFFFF;
}

.team__communications--referencing:focus .network-icon {
  fill: #FFFFFF;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.client li {
  margin: 0px;
}

.client li:not(:last-child) {
  margin-right: 30px;
}

.client__card {
  display: block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__card:hover, .client__card:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.client__pict {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__card:hover .client__pict {
  fill: #2196F3;
}

.client__card:focus .client__pict {
  fill: #2196F3;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection li {
  margin-right: 8px;
}

.selection li:nth-child(5) {
  margin-right: 0px;
}

.selection__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection__button:hover, .selection__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: -30px;
}

.projects__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0.06em;
  color: #212121;
  text-transform: none;
}

.projects__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
  text-transform: none;
}

.projects__card {
  display: block;
  width: 370px;
  background-color: #FFFFFF;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__card:nth-child(3n) {
  margin-right: 0;
}

.projects__container {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects__description-block {
  display: block;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.projects__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.projects__description-text {
  display: block;
  position: absolute;
  bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: none;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 293px;
  margin-top: -1px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container:hover .projects__description-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__image {
  display: block;
}

.invisible-heading {
  display: none;
}

.section-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
}
/*# sourceMappingURL=main.css.map */