ul,
li,
h1,
h2,
h3,
h4,
p,
img {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #FFB8CA;
}

.hero__buynow-button {
  display: inline-flex;
  justify-content: center;
  height: 24px;
  border: 0;
  border-radius: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  color: #D41443;
  width: 83px;
}






@import "./utils/variables";
@import "./components/index-hero";
