.hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-img.jpg);
    background-color: $hero-bacground-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    padding-top: 195px;
    padding-bottom: 205px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section__text {
    @include font-set($font-weight: 900, $font-size: 44px, $line-height: 60px, $letter-spacing: 0.06em, $transform: uppercase);
}

.hero-section__button {
    display: block;
    height: 50px;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    background-color: $active-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include font-set ($font-weight: 700, $font-size: 16px, $line-height: 30px, $letter-spacing: 0.06em);
    cursor: pointer;
}

// Modal Window 

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 950ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    display: block;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    background-color: $main-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale (1);
    transition: transform $cubic-standard;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.modal__background {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $main-color;
}

.modal__close--touching {
    display: block;
    width: 11px;
    height: 11px;
    fill: $contrast-color;
    transition: fill $cubic-standard;
    &:hover, &:focus {
        fill: $active-color;
    }
    .modal__close:hover & {
        fill: $active-color;
    }
    .modal__close:focus & {
        fill: $active-color;
    }
}


.form {
    display: inline-block;
    width: 448px;
    margin-left: 39px;
    margin-right: 41px;
    margin-top: 41px;
}

.form__heading {
    @include font-set ($font-weight: 700, $font-size: 20px, $line-height: 23px, $color: $main-text-color);
    margin-bottom: 12px;
}

.form__field-list {
    list-style: none;
    & li:nth-last-child(1) {
        margin-bottom: 20px;
    }
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    & label {
        @include font-set ($line-height: 14px, $text-align: left, $letter-spacing: 0.01em, $color: $secondary-text-color);
        margin-bottom: 4px;
    }
}

.form__field input {
    @include font-set ($text-align: left, $letter-spacing: 0.01em, $color: $main-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    border-radius: 4px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 42px;
    padding-right: 0px;
    margin: 0;
    transition: border-color $cubic-standard;
    &:hover, &:focus {
        border-color: $active-color;
    }
}

.form__field-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form__field-icon {
    position: absolute;
    fill: $main-text-color;
    width: 18px;
    height: 18px;
    left: 12px;
    transition: fill $cubic-standard;
    .form__field-container:hover & {
        fill: $active-color;
    }
    .form__field-container:focus-within & {
        fill: $active-color;
    }
}

.form__textarea {
    @include font-set ($text-align: left, $letter-spacing: 0.01em, $color: $main-text-color);
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $cubic-standard;
    padding: 12px 16px;
    &:hover, &:focus {
        border-color: $active-color;
    }
}

.form__submit-button {
    @include font-set ($font-weight: 700, $font-size: 16px, $line-height: 30px, $letter-spacing: 0.06em);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: $active-color;
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow $cubic-standard;
    &:hover, &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


.field__gtc {
    @include font-set ($line-height: 24px, $color: $secondary-text-color);
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 13px;
}

.field__gtc--following {
    @include font-set ($line-height: 24px, $color: $active-color);
    text-decoration-line: underline;
}

#field__gtc--checking {
    display: inline-block;
    width: 16px;
    height: 15px;
    z-index: 1;
    margin-right: 7px;
    appearance: none;
}

.field__gtc--positioning {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid $main-text-color;
    border-radius: 2px;
    #field__gtc--checking:checked + & {
        border: none;
        background-image: url("../images/icon-check.svg");
        background-size: contain;
        background-origin: border-box;
    }
}