// Colors
$main-color: #FFFFFF;
$contrast-color: #000000;
$active-color: #2196F3;
$inactive-pict-color: #AFB1B8;
$main-text-color: #212121;
$secondary-text-color: #757575;
$hero-bacground-color: #2F303A;
$secondary-background-color:#F5F4FA;
$border-color: #ECECEC;

// Focus and Hover Animation 
$cubic-standard: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Font Pattern
@mixin font-set ($font-family: 'Roboto', $font-weight: 400, $font-size: 14px, $line-height: 16px, $text-align: center, $letter-spacing: 0.03em, $color: #FFFFFF, $transform: none) {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $transform;
}